<nav class="nav justify-content-center">
  <a class="nav-link active" href="{{ path('index') }}">Accueil</a>
  <a class="nav-link" href="{{ path('etudiant_index') }}">Etudiants</a>
  <a class="nav-link" href="{{ path('intervenant_index') }}">Intervenants</a>
  <a class="nav-link" href="{{ path('matiere_index') }}">Matieres</a>
  <a class="nav-link" href="{{ path('projet_index') }}">Projets</a>
</nav>